body {
    height: 100%;
}
/* Hero Image */
#hero_image_container {
    opacity: 0.6;
    position: relative;
    height: 300px;
    overflow: hidden;
    background: url('../images/index_page_images/city_from_far.jpg') no-repeat center;
    background-size: cover ;

}

#hero_text {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    
}

#hero_image_credit{
    text-align: center;
    position: absolute;
    top: 90%;
    left: 90%;
}

/* Post Container */

.post_container{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    transition: transform .2s;
}

.post_container:hover{
    transform: scale(1.01);
}

.post-link{
    text-decoration: none;
    transition: transform .2s;
}

.post-link:hover{
    text-decoration: none;
}

